@import url('https://fonts.googleapis.com/css?family=Faster+One|Karla');

/* 
pink: #F7027D;
blue: #39BEE5;
dark gray: #636363;
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #666;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 1px
}

.UWL-logo {
  text-align: center;
  font-family: 'Faster One', cursive;
  font-size: 42px;
  color: #F7027D;
  padding-top: 20px;
}

.UWL-logo-small {
  padding-left: 10px;
  margin-bottom: 0px;
  font-family: 'Faster One', cursive;
  font-size: 16px;
  color: #39BEE5;
}

.btn {
  border: none;
  border-radius: 3px;
}

.btn-primary {
  background-color: #F7027D;
}

.btn-primary:active, .btn-primary:hover, .btn-primary:focus {
  background-color: #C10162;
}

.btn-info {
  background-color: #000;
}

.btn-info:active, .btn-info:hover, .btn-info:focus {
  background-color: #000;
}


.btn-large {
  padding: 10px 65px;
}

.header {
  height: 32px;
  border: 1px solid #000;
  width: 100%;
}

.account-icon {
  border-right: 1px solid #000;
}

.account-icon > a > span.glyphicon {
  font-size: 12px;
  margin-right: 10px;
  color: #636363;
}

table.nav {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.nav a {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  color: #636363;
  text-transform: uppercase;
}

.nav {
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 32px;
}

.nav td {
  border-right: 1px solid #000;
  text-align: center;
  vertical-align: middle;
}

.nav td.active {
  background-color: #39bee5;
}

.nav td.active a {
  color: #FFF;
}

.nav td a.active {
  color: #006ff1;
}

.dropdown button {
  border: 1px solid #ddd;
  border-radius: 3px;
}

.program-day {
  width: 100%;
  border: 1px solid #000;
  height: 32px;
  text-align: left;
  margin: 20px 0px;
}

/*.program-day td, .program-day tr {
  border-collapse: collapse;
}*/

.program-day thead {
  border-bottom: 3px solid #000;
}

.program-day h3 {
  margin: 7px;
}

.program-day p {
  margin: 7px;
}

.centered-content {
  text-align: center;
}

.anchored-bottom {
  position:fixed;
  bottom:70px;
}

.fake-btn-block {
  width: 300px;
  margin: 20px 0px 0px;
}

.padding-inside {
  padding: 20px;
}