@import url('https://fonts.googleapis.com/css?family=Faster+One|Karla');

/* 
pink: #F7027D;
blue: #39BEE5;
dark gray: #636363;
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

.UWL-logo {
  text-align: center;
  font-family: 'Faster One', cursive;
  font-size: 42px;
  color: #F7027D;
}

.UWL-logo-small {
  padding-left: 10px;
  margin-bottom: 0px;
  font-family: 'Faster One', cursive;
  font-size: 16px;
  color: #39BEE5;
}

.btn {
  border: none;
  border-radius: 3px;
}

.btn-primary {
  background-color: #F7027D;
}

.btn-primary:active, .btn-primary:hover {

}

.btn-large {
  padding: 10px 65px;
}

.header {
  height: 32px;
  border: 1px solid #000;
  width: 100%;
}

.account-icon {
  border-right: 1px solid #000;
}

.account-icon > a > span.glyphicon {
  font-size: 12px;
  margin-right: 10px;
  color: #636363;
}